{% extends "recipes/base.html" %}
<!-- -->
{% block content %}
<h1>Recipes About Page</h1>
<br>
<b>This is a Food Recipe Sharing App where you can Add, Update, Delete your recipes and see other users Recipes as well. Also, there is a Search function where you can search for Recipes.</b>
<br>
<br>
<b>To begin, you register a username, email, and password. Then start adding your favorite Recipes to share with others.</b>
<br>
<br>
<b>If you forgot your password, please email me at prismlines_20@protonmail.com and I will reset it.</b>
{% endblock content %}